* {
    background-color: lightcoral;
    font-family: 'Qwitcher Grypen', cursive;

}

.cabecera {
    display: flex;
    background-color: lightsalmon;
    font-size: 5vw;
    color: black;
    border-radius: 5px; 
    justify-content: center;
    margin: 1vw;
}

.navegacion {
    display: flex;
    justify-content: flex-end;
    background-color: lightsalmon;
    border-radius: 5px;
    margin: 1vw;
}

.item {
    background-color: lightsalmon;
    font-family: cursive;
    font-size: 1.5rem;
    margin-left: 10vw;
    border-radius: 5px;
}

.principal {
    background-color: lightsalmon;
    margin: 5px;
    border-radius: 5px;
    font-family: cursive;

}

.piedepagina {
    background-color: lightsalmon;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
}